<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[NO(圆形)]</key>
	<string>emoji_yuan_058.png</string>
	<key>[NO(扁形)]</key>
	<string>emoji_bian_058.png</string>
	<key>[NO(方形)]</key>
	<string>emoji_fang_058.png</string>
	<key>[NO(菱形)]</key>
	<string>emoji_058.png</string>
	<key>[OK(圆形)]</key>
	<string>emoji_yuan_059.png</string>
	<key>[OK(扁形)]</key>
	<string>emoji_bian_059.png</string>
	<key>[OK(方形)]</key>
	<string>emoji_fang_059.png</string>
	<key>[OK(菱形)]</key>
	<string>emoji_059.png</string>
	<key>[亲亲(圆形)]</key>
	<string>emoji_yuan_045.png</string>
	<key>[亲亲(扁形)]</key>
	<string>emoji_bian_045.png</string>
	<key>[亲亲(方形)]</key>
	<string>emoji_fang_045.png</string>
	<key>[亲亲(菱形)]</key>
	<string>emoji_045.png</string>
	<key>[偷笑(圆形)]</key>
	<string>emoji_yuan_019.png</string>
	<key>[偷笑(扁形)]</key>
	<string>emoji_bian_019.png</string>
	<key>[偷笑(方形)]</key>
	<string>emoji_fang_019.png</string>
	<key>[偷笑(菱形)]</key>
	<string>emoji_019.png</string>
	<key>[傲慢(圆形)]</key>
	<string>emoji_yuan_022.png</string>
	<key>[傲慢(扁形)]</key>
	<string>emoji_bian_022.png</string>
	<key>[傲慢(方形)]</key>
	<string>emoji_fang_022.png</string>
	<key>[傲慢(菱形)]</key>
	<string>emoji_022.png</string>
	<key>[再见(圆形)]</key>
	<string>emoji_yuan_035.png</string>
	<key>[再见(扁形)]</key>
	<string>emoji_bian_035.png</string>
	<key>[再见(方形)]</key>
	<string>emoji_fang_035.png</string>
	<key>[再见(菱形)]</key>
	<string>emoji_035.png</string>
	<key>[冷汗(圆形)]</key>
	<string>emoji_yuan_025.png</string>
	<key>[冷汗(扁形)]</key>
	<string>emoji_bian_025.png</string>
	<key>[冷汗(方形)]</key>
	<string>emoji_fang_025.png</string>
	<key>[冷汗(菱形)]</key>
	<string>emoji_025.png</string>
	<key>[加油(圆形)]</key>
	<string>emoji_yuan_027.png</string>
	<key>[加油(扁形)]</key>
	<string>emoji_bian_027.png</string>
	<key>[加油(方形)]</key>
	<string>emoji_fang_027.png</string>
	<key>[加油(菱形)]</key>
	<string>emoji_027.png</string>
	<key>[发怒(圆形)]</key>
	<string>emoji_yuan_012.png</string>
	<key>[发怒(扁形)]</key>
	<string>emoji_bian_012.png</string>
	<key>[发怒(方形)]</key>
	<string>emoji_fang_012.png</string>
	<key>[发怒(菱形)]</key>
	<string>emoji_012.png</string>
	<key>[可怜(圆形)]</key>
	<string>emoji_yuan_046.png</string>
	<key>[可怜(扁形)]</key>
	<string>emoji_bian_046.png</string>
	<key>[可怜(方形)]</key>
	<string>emoji_fang_046.png</string>
	<key>[可怜(菱形)]</key>
	<string>emoji_046.png</string>
	<key>[可爱(圆形)]</key>
	<string>emoji_yuan_020.png</string>
	<key>[可爱(扁形)]</key>
	<string>emoji_bian_020.png</string>
	<key>[可爱(方形)]</key>
	<string>emoji_fang_020.png</string>
	<key>[可爱(菱形)]</key>
	<string>emoji_020.png</string>
	<key>[吐(圆形)]</key>
	<string>emoji_yuan_018.png</string>
	<key>[吐(扁形)]</key>
	<string>emoji_bian_018.png</string>
	<key>[吐(方形)]</key>
	<string>emoji_fang_018.png</string>
	<key>[吐(菱形)]</key>
	<string>emoji_018.png</string>
	<key>[吐舌头(圆形)]</key>
	<string>emoji_yuan_013.png</string>
	<key>[吐舌头(扁形)]</key>
	<string>emoji_bian_013.png</string>
	<key>[吐舌头(方形)]</key>
	<string>emoji_fang_013.png</string>
	<key>[吐舌头(菱形)]</key>
	<string>emoji_013.png</string>
	<key>[吓(圆形)]</key>
	<string>emoji_yuan_005.png</string>
	<key>[吓(扁形)]</key>
	<string>emoji_bian_005.png</string>
	<key>[吓(方形)]</key>
	<string>emoji_fang_005.png</string>
	<key>[吓(菱形)]</key>
	<string>emoji_005.png</string>
	<key>[呲牙(圆形)]</key>
	<string>emoji_yuan_000.png</string>
	<key>[呲牙(扁形)]</key>
	<string>emoji_bian_000.png</string>
	<key>[呲牙(方形)]</key>
	<string>emoji_fang_000.png</string>
	<key>[呲牙(菱形)]</key>
	<string>emoji_000.png</string>
	<key>[咒骂(圆形)]</key>
	<string>emoji_yuan_028.png</string>
	<key>[咒骂(扁形)]</key>
	<string>emoji_bian_028.png</string>
	<key>[咒骂(方形)]</key>
	<string>emoji_fang_028.png</string>
	<key>[咒骂(菱形)]</key>
	<string>emoji_028.png</string>
	<key>[咖啡(圆形)]</key>
	<string>emoji_yuan_048.png</string>
	<key>[咖啡(扁形)]</key>
	<string>emoji_bian_048.png</string>
	<key>[咖啡(方形)]</key>
	<string>emoji_fang_048.png</string>
	<key>[咖啡(菱形)]</key>
	<string>emoji_048.png</string>
	<key>[哈欠(圆形)]</key>
	<string>emoji_yuan_040.png</string>
	<key>[哈欠(扁形)]</key>
	<string>emoji_bian_040.png</string>
	<key>[哈欠(方形)]</key>
	<string>emoji_fang_040.png</string>
	<key>[哈欠(菱形)]</key>
	<string>emoji_040.png</string>
	<key>[喜欢(圆形)]</key>
	<string>emoji_yuan_004.png</string>
	<key>[喜欢(扁形)]</key>
	<string>emoji_bian_004.png</string>
	<key>[喜欢(方形)]</key>
	<string>emoji_fang_004.png</string>
	<key>[喜欢(菱形)]</key>
	<string>emoji_004.png</string>
	<key>[嘘~(圆形)]</key>
	<string>emoji_yuan_030.png</string>
	<key>[嘘~(扁形)]</key>
	<string>emoji_bian_030.png</string>
	<key>[嘘~(方形)]</key>
	<string>emoji_fang_030.png</string>
	<key>[嘘~(菱形)]</key>
	<string>emoji_030.png</string>
	<key>[困(圆形)]</key>
	<string>emoji_yuan_008.png</string>
	<key>[困(扁形)]</key>
	<string>emoji_bian_008.png</string>
	<key>[困(方形)]</key>
	<string>emoji_fang_008.png</string>
	<key>[困(菱形)]</key>
	<string>emoji_008.png</string>
	<key>[大哭(圆形)]</key>
	<string>emoji_yuan_011.png</string>
	<key>[大哭(扁形)]</key>
	<string>emoji_bian_011.png</string>
	<key>[大哭(方形)]</key>
	<string>emoji_fang_011.png</string>
	<key>[大哭(菱形)]</key>
	<string>emoji_011.png</string>
	<key>[委屈(圆形)]</key>
	<string>emoji_yuan_042.png</string>
	<key>[委屈(扁形)]</key>
	<string>emoji_bian_042.png</string>
	<key>[委屈(方形)]</key>
	<string>emoji_fang_042.png</string>
	<key>[委屈(菱形)]</key>
	<string>emoji_042.png</string>
	<key>[害羞(圆形)]</key>
	<string>emoji_yuan_023.png</string>
	<key>[害羞(扁形)]</key>
	<string>emoji_bian_023.png</string>
	<key>[害羞(方形)]</key>
	<string>emoji_fang_023.png</string>
	<key>[害羞(菱形)]</key>
	<string>emoji_023.png</string>
	<key>[弱(圆形)]</key>
	<string>emoji_yuan_054.png</string>
	<key>[弱(扁形)]</key>
	<string>emoji_bian_054.png</string>
	<key>[弱(方形)]</key>
	<string>emoji_fang_054.png</string>
	<key>[弱(菱形)]</key>
	<string>emoji_054.png</string>
	<key>[得意(圆形)]</key>
	<string>emoji_yuan_006.png</string>
	<key>[得意(扁形)]</key>
	<string>emoji_bian_006.png</string>
	<key>[得意(方形)]</key>
	<string>emoji_fang_006.png</string>
	<key>[得意(菱形)]</key>
	<string>emoji_006.png</string>
	<key>[微笑(圆形)]</key>
	<string>emoji_yuan_002.png</string>
	<key>[微笑(扁形)]</key>
	<string>emoji_bian_002.png</string>
	<key>[微笑(方形)]</key>
	<string>emoji_fang_002.png</string>
	<key>[微笑(菱形)]</key>
	<string>emoji_002.png</string>
	<key>[快哭了(圆形)]</key>
	<string>emoji_yuan_043.png</string>
	<key>[快哭了(扁形)]</key>
	<string>emoji_bian_043.png</string>
	<key>[快哭了(方形)]</key>
	<string>emoji_fang_043.png</string>
	<key>[快哭了(菱形)]</key>
	<string>emoji_043.png</string>
	<key>[惊恐(圆形)]</key>
	<string>emoji_yuan_024.png</string>
	<key>[惊恐(扁形)]</key>
	<string>emoji_bian_024.png</string>
	<key>[惊恐(方形)]</key>
	<string>emoji_fang_024.png</string>
	<key>[惊恐(菱形)]</key>
	<string>emoji_024.png</string>
	<key>[惊讶(圆形)]</key>
	<string>emoji_yuan_014.png</string>
	<key>[惊讶(扁形)]</key>
	<string>emoji_bian_014.png</string>
	<key>[惊讶(方形)]</key>
	<string>emoji_fang_014.png</string>
	<key>[惊讶(菱形)]</key>
	<string>emoji_014.png</string>
	<key>[憨笑(圆形)]</key>
	<string>emoji_yuan_026.png</string>
	<key>[憨笑(扁形)]</key>
	<string>emoji_bian_026.png</string>
	<key>[憨笑(方形)]</key>
	<string>emoji_fang_026.png</string>
	<key>[憨笑(菱形)]</key>
	<string>emoji_026.png</string>
	<key>[抓狂(圆形)]</key>
	<string>emoji_yuan_017.png</string>
	<key>[抓狂(扁形)]</key>
	<string>emoji_bian_017.png</string>
	<key>[抓狂(方形)]</key>
	<string>emoji_fang_017.png</string>
	<key>[抓狂(菱形)]</key>
	<string>emoji_017.png</string>
	<key>[折磨(圆形)]</key>
	<string>emoji_yuan_032.png</string>
	<key>[折磨(扁形)]</key>
	<string>emoji_bian_032.png</string>
	<key>[折磨(方形)]</key>
	<string>emoji_fang_032.png</string>
	<key>[折磨(菱形)]</key>
	<string>emoji_032.png</string>
	<key>[抠鼻(圆形)]</key>
	<string>emoji_yuan_037.png</string>
	<key>[抠鼻(扁形)]</key>
	<string>emoji_bian_037.png</string>
	<key>[抠鼻(方形)]</key>
	<string>emoji_fang_037.png</string>
	<key>[抠鼻(菱形)]</key>
	<string>emoji_037.png</string>
	<key>[抱拳(圆形)]</key>
	<string>emoji_yuan_057.png</string>
	<key>[抱拳(扁形)]</key>
	<string>emoji_bian_057.png</string>
	<key>[抱拳(方形)]</key>
	<string>emoji_fang_057.png</string>
	<key>[抱拳(菱形)]</key>
	<string>emoji_057.png</string>
	<key>[握手(圆形)]</key>
	<string>emoji_yuan_055.png</string>
	<key>[握手(扁形)]</key>
	<string>emoji_bian_055.png</string>
	<key>[握手(方形)]</key>
	<string>emoji_fang_055.png</string>
	<key>[握手(菱形)]</key>
	<string>emoji_055.png</string>
	<key>[撇嘴(圆形)]</key>
	<string>emoji_yuan_003.png</string>
	<key>[撇嘴(扁形)]</key>
	<string>emoji_bian_003.png</string>
	<key>[撇嘴(方形)]</key>
	<string>emoji_fang_003.png</string>
	<key>[撇嘴(菱形)]</key>
	<string>emoji_003.png</string>
	<key>[擦汗(圆形)]</key>
	<string>emoji_yuan_036.png</string>
	<key>[擦汗(扁形)]</key>
	<string>emoji_bian_036.png</string>
	<key>[擦汗(方形)]</key>
	<string>emoji_fang_036.png</string>
	<key>[擦汗(菱形)]</key>
	<string>emoji_036.png</string>
	<key>[敲打(圆形)]</key>
	<string>emoji_yuan_034.png</string>
	<key>[敲打(扁形)]</key>
	<string>emoji_bian_034.png</string>
	<key>[敲打(方形)]</key>
	<string>emoji_fang_034.png</string>
	<key>[敲打(菱形)]</key>
	<string>emoji_034.png</string>
	<key>[晕(圆形)]</key>
	<string>emoji_yuan_031.png</string>
	<key>[晕(扁形)]</key>
	<string>emoji_bian_031.png</string>
	<key>[晕(方形)]</key>
	<string>emoji_fang_031.png</string>
	<key>[晕(菱形)]</key>
	<string>emoji_031.png</string>
	<key>[流汗(圆形)]</key>
	<string>emoji_yuan_001.png</string>
	<key>[流汗(扁形)]</key>
	<string>emoji_bian_001.png</string>
	<key>[流汗(方形)]</key>
	<string>emoji_fang_001.png</string>
	<key>[流汗(菱形)]</key>
	<string>emoji_001.png</string>
	<key>[流泪(圆形)]</key>
	<string>emoji_yuan_007.png</string>
	<key>[流泪(扁形)]</key>
	<string>emoji_bian_007.png</string>
	<key>[流泪(方形)]</key>
	<string>emoji_fang_007.png</string>
	<key>[流泪(菱形)]</key>
	<string>emoji_007.png</string>
	<key>[猪头(圆形)]</key>
	<string>emoji_yuan_050.png</string>
	<key>[猪头(扁形)]</key>
	<string>emoji_bian_050.png</string>
	<key>[猪头(方形)]</key>
	<string>emoji_fang_050.png</string>
	<key>[猪头(菱形)]</key>
	<string>emoji_050.png</string>
	<key>[疑问(圆形)]</key>
	<string>emoji_yuan_029.png</string>
	<key>[疑问(扁形)]</key>
	<string>emoji_bian_029.png</string>
	<key>[疑问(方形)]</key>
	<string>emoji_fang_029.png</string>
	<key>[疑问(菱形)]</key>
	<string>emoji_029.png</string>
	<key>[白眼(圆形)]</key>
	<string>emoji_yuan_021.png</string>
	<key>[白眼(扁形)]</key>
	<string>emoji_bian_021.png</string>
	<key>[白眼(方形)]</key>
	<string>emoji_fang_021.png</string>
	<key>[白眼(菱形)]</key>
	<string>emoji_021.png</string>
	<key>[睡觉(圆形)]</key>
	<string>emoji_yuan_010.png</string>
	<key>[睡觉(扁形)]</key>
	<string>emoji_bian_010.png</string>
	<key>[睡觉(方形)]</key>
	<string>emoji_fang_010.png</string>
	<key>[睡觉(菱形)]</key>
	<string>emoji_010.png</string>
	<key>[礼物(圆形)]</key>
	<string>emoji_yuan_052.png</string>
	<key>[礼物(扁形)]</key>
	<string>emoji_bian_052.png</string>
	<key>[礼物(方形)]</key>
	<string>emoji_fang_052.png</string>
	<key>[礼物(菱形)]</key>
	<string>emoji_052.png</string>
	<key>[米饭(圆形)]</key>
	<string>emoji_yuan_049.png</string>
	<key>[米饭(扁形)]</key>
	<string>emoji_bian_049.png</string>
	<key>[米饭(方形)]</key>
	<string>emoji_fang_049.png</string>
	<key>[米饭(菱形)]</key>
	<string>emoji_049.png</string>
	<key>[糗(圆形)]</key>
	<string>emoji_yuan_039.png</string>
	<key>[糗(扁形)]</key>
	<string>emoji_bian_039.png</string>
	<key>[糗(方形)]</key>
	<string>emoji_fang_039.png</string>
	<key>[糗(菱形)]</key>
	<string>emoji_039.png</string>
	<key>[胜利(圆形)]</key>
	<string>emoji_yuan_056.png</string>
	<key>[胜利(扁形)]</key>
	<string>emoji_bian_056.png</string>
	<key>[胜利(方形)]</key>
	<string>emoji_fang_056.png</string>
	<key>[胜利(菱形)]</key>
	<string>emoji_056.png</string>
	<key>[蛋糕(圆形)]</key>
	<string>emoji_yuan_051.png</string>
	<key>[蛋糕(扁形)]</key>
	<string>emoji_bian_051.png</string>
	<key>[蛋糕(方形)]</key>
	<string>emoji_fang_051.png</string>
	<key>[蛋糕(菱形)]</key>
	<string>emoji_051.png</string>
	<key>[衰(圆形)]</key>
	<string>emoji_yuan_033.png</string>
	<key>[衰(扁形)]</key>
	<string>emoji_bian_033.png</string>
	<key>[衰(方形)]</key>
	<string>emoji_fang_033.png</string>
	<key>[衰(菱形)]</key>
	<string>emoji_033.png</string>
	<key>[西瓜(圆形)]</key>
	<string>emoji_yuan_047.png</string>
	<key>[西瓜(扁形)]</key>
	<string>emoji_bian_047.png</string>
	<key>[西瓜(方形)]</key>
	<string>emoji_fang_047.png</string>
	<key>[西瓜(菱形)]</key>
	<string>emoji_047.png</string>
	<key>[赞(圆形)]</key>
	<string>emoji_yuan_053.png</string>
	<key>[赞(扁形)]</key>
	<string>emoji_bian_053.png</string>
	<key>[赞(方形)]</key>
	<string>emoji_fang_053.png</string>
	<key>[赞(菱形)]</key>
	<string>emoji_053.png</string>
	<key>[鄙视(圆形)]</key>
	<string>emoji_yuan_041.png</string>
	<key>[鄙视(扁形)]</key>
	<string>emoji_bian_041.png</string>
	<key>[鄙视(方形)]</key>
	<string>emoji_fang_041.png</string>
	<key>[鄙视(菱形)]</key>
	<string>emoji_041.png</string>
	<key>[酷(圆形)]</key>
	<string>emoji_yuan_016.png</string>
	<key>[酷(扁形)]</key>
	<string>emoji_bian_016.png</string>
	<key>[酷(方形)]</key>
	<string>emoji_fang_016.png</string>
	<key>[酷(菱形)]</key>
	<string>emoji_016.png</string>
	<key>[闭嘴(圆形)]</key>
	<string>emoji_yuan_009.png</string>
	<key>[闭嘴(扁形)]</key>
	<string>emoji_bian_009.png</string>
	<key>[闭嘴(方形)]</key>
	<string>emoji_fang_009.png</string>
	<key>[闭嘴(菱形)]</key>
	<string>emoji_009.png</string>
	<key>[阴险(圆形)]</key>
	<string>emoji_yuan_044.png</string>
	<key>[阴险(扁形)]</key>
	<string>emoji_bian_044.png</string>
	<key>[阴险(方形)]</key>
	<string>emoji_fang_044.png</string>
	<key>[阴险(菱形)]</key>
	<string>emoji_044.png</string>
	<key>[难过(圆形)]</key>
	<string>emoji_yuan_015.png</string>
	<key>[难过(扁形)]</key>
	<string>emoji_bian_015.png</string>
	<key>[难过(方形)]</key>
	<string>emoji_fang_015.png</string>
	<key>[难过(菱形)]</key>
	<string>emoji_015.png</string>
	<key>[鼓掌(圆形)]</key>
	<string>emoji_yuan_038.png</string>
	<key>[鼓掌(扁形)]</key>
	<string>emoji_bian_038.png</string>
	<key>[鼓掌(方形)]</key>
	<string>emoji_fang_038.png</string>
	<key>[鼓掌(菱形)]</key>
	<string>emoji_038.png</string>
</dict>
</plist>
