<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>emoji_fang_000.png</key>
	<string>/:O</string>
	<key>emoji_000.png</key>
	<string>/1:O</string>
	<key>emoji_yuan_000.png</key>
	<string>/2:O</string>
	<key>emoji_bian_000.png</key>
	<string>/3:O</string>
	<key>emoji_fang_001.png</key>
	<string>/:-/</string>
	<key>emoji_001.png</key>
	<string>/1:-/</string>
	<key>emoji_yuan_001.png</key>
	<string>/2:-/</string>
	<key>emoji_bian_001.png</key>
	<string>/3:-/</string>
	<key>emoji_fang_002.png</key>
	<string>/:*</string>
	<key>emoji_002.png</key>
	<string>/1:*</string>
	<key>emoji_yuan_002.png</key>
	<string>/2:*</string>
	<key>emoji_bian_002.png</key>
	<string>/3:*</string>
	<key>emoji_fang_003.png</key>
	<string>/):</string>
	<key>emoji_003.png</key>
	<string>/1):</string>
	<key>emoji_yuan_003.png</key>
	<string>/2):</string>
	<key>emoji_bian_003.png</key>
	<string>/3):</string>
	<key>emoji_fang_004.png</key>
	<string>/8-)</string>
	<key>emoji_004.png</key>
	<string>/18-)</string>
	<key>emoji_yuan_004.png</key>
	<string>/28-)</string>
	<key>emoji_bian_004.png</key>
	<string>/38-)</string>
	<key>emoji_fang_005.png</key>
	<string>/:(</string>
	<key>emoji_005.png</key>
	<string>/1:(</string>
	<key>emoji_yuan_005.png</key>
	<string>/2:(</string>
	<key>emoji_bian_005.png</key>
	<string>/3:(</string>
	<key>emoji_fang_006.png</key>
	<string>/:$</string>
	<key>emoji_006.png</key>
	<string>/1:$</string>
	<key>emoji_yuan_006.png</key>
	<string>/2:$</string>
	<key>emoji_bian_006.png</key>
	<string>/3:$</string>
	<key>emoji_fang_007.png</key>
	<string>/:-X</string>
	<key>emoji_007.png</key>
	<string>/1:-X</string>
	<key>emoji_yuan_007.png</key>
	<string>/2:-X</string>
	<key>emoji_bian_007.png</key>
	<string>/3:-X</string>
	<key>emoji_fang_008.png</key>
	<string>/:-Z</string>
	<key>emoji_008.png</key>
	<string>/1:-Z</string>
	<key>emoji_yuan_008.png</key>
	<string>/2:-Z</string>
	<key>emoji_bian_008.png</key>
	<string>/3:-Z</string>
	<key>emoji_fang_009.png</key>
	<string>/:#(</string>
	<key>emoji_009.png</key>
	<string>/1:#(</string>
	<key>emoji_yuan_009.png</key>
	<string>/2:#(</string>
	<key>emoji_bian_009.png</key>
	<string>/3:#(</string>
	<key>emoji_fang_010.png</key>
	<string>/:-|</string>
	<key>emoji_010.png</key>
	<string>/1:-|</string>
	<key>emoji_yuan_010.png</key>
	<string>/2:-|</string>
	<key>emoji_bian_010.png</key>
	<string>/3:-|</string>
	<key>emoji_fang_011.png</key>
	<string>/:@</string>
	<key>emoji_011.png</key>
	<string>/1:@</string>
	<key>emoji_yuan_011.png</key>
	<string>/2:@</string>
	<key>emoji_bian_011.png</key>
	<string>/3:@</string>
	<key>emoji_fang_012.png</key>
	<string>/:P</string>
	<key>emoji_012.png</key>
	<string>/1:P</string>
	<key>emoji_yuan_012.png</key>
	<string>/2:P</string>
	<key>emoji_bian_012.png</key>
	<string>/3:P</string>
	<key>emoji_fang_013.png</key>
	<string>/:D</string>
	<key>emoji_013.png</key>
	<string>/1:D</string>
	<key>emoji_yuan_013.png</key>
	<string>/2:D</string>
	<key>emoji_bian_013.png</key>
	<string>/3:D</string>
	<key>emoji_fang_014.png</key>
	<string>/:)</string>
	<key>emoji_014.png</key>
	<string>/1:)</string>
	<key>emoji_yuan_014.png</key>
	<string>/2:)</string>
	<key>emoji_bian_014.png</key>
	<string>/3:)</string>
	<key>emoji_fang_015.png</key>
	<string>/&lt;D</string>
	<key>emoji_015.png</key>
	<string>/1&lt;D</string>
	<key>emoji_yuan_015.png</key>
	<string>/2&lt;D</string>
	<key>emoji_bian_015.png</key>
	<string>/3&lt;D</string>
	<key>emoji_fang_016.png</key>
	<string>/&lt;J</string>
	<key>emoji_016.png</key>
	<string>/1&lt;J</string>
	<key>emoji_yuan_016.png</key>
	<string>/2&lt;J</string>
	<key>emoji_bian_016.png</key>
	<string>/3&lt;J</string>
	<key>emoji_fang_017.png</key>
	<string>/&lt;H</string>
	<key>emoji_017.png</key>
	<string>/1&lt;H</string>
	<key>emoji_yuan_017.png</key>
	<string>/2&lt;H</string>
	<key>emoji_bian_017.png</key>
	<string>/3&lt;H</string>
	<key>emoji_fang_018.png</key>
	<string>/&lt;M</string>
	<key>emoji_018.png</key>
	<string>/1&lt;M</string>
	<key>emoji_yuan_018.png</key>
	<string>/2&lt;M</string>
	<key>emoji_bian_018.png</key>
	<string>/3&lt;M</string>
	<key>emoji_fang_019.png</key>
	<string>/&lt;QQ</string>
	<key>emoji_019.png</key>
	<string>/1&lt;QQ</string>
	<key>emoji_yuan_019.png</key>
	<string>/2&lt;QQ</string>
	<key>emoji_bian_019.png</key>
	<string>/3&lt;QQ</string>
	<key>emoji_fang_020.png</key>
	<string>/&lt;A</string>
	<key>emoji_020.png</key>
	<string>/1&lt;A</string>
	<key>emoji_yuan_020.png</key>
	<string>/2&lt;A</string>
	<key>emoji_bian_020.png</key>
	<string>/3&lt;A</string>
	<key>emoji_fang_021.png</key>
	<string>/&lt;L</string>
	<key>emoji_021.png</key>
	<string>/1&lt;L</string>
	<key>emoji_yuan_021.png</key>
	<string>/2&lt;L</string>
	<key>emoji_bian_021.png</key>
	<string>/3&lt;L</string>
	<key>emoji_fang_022.png</key>
	<string>/&lt;S</string>
	<key>emoji_022.png</key>
	<string>/1&lt;S</string>
	<key>emoji_yuan_022.png</key>
	<string>/2&lt;S</string>
	<key>emoji_bian_022.png</key>
	<string>/3&lt;S</string>
	<key>emoji_fang_023.png</key>
	<string>/&lt;K</string>
	<key>emoji_023.png</key>
	<string>/1&lt;K</string>
	<key>emoji_yuan_023.png</key>
	<string>/2&lt;K</string>
	<key>emoji_bian_023.png</key>
	<string>/3&lt;K</string>
	<key>emoji_fang_024.png</key>
	<string>/&lt;T</string>
	<key>emoji_024.png</key>
	<string>/1&lt;T</string>
	<key>emoji_yuan_024.png</key>
	<string>/2&lt;T</string>
	<key>emoji_bian_024.png</key>
	<string>/3&lt;T</string>
	<key>emoji_fang_025.png</key>
	<string>/&lt;$</string>
	<key>emoji_025.png</key>
	<string>/1&lt;$</string>
	<key>emoji_yuan_025.png</key>
	<string>/2&lt;$</string>
	<key>emoji_bian_025.png</key>
	<string>/3&lt;$</string>
	<key>emoji_fang_026.png</key>
	<string>/&lt;O</string>
	<key>emoji_026.png</key>
	<string>/1&lt;O</string>
	<key>emoji_yuan_026.png</key>
	<string>/2&lt;O</string>
	<key>emoji_bian_026.png</key>
	<string>/3&lt;O</string>
	<key>emoji_fang_027.png</key>
	<string>/&lt;&amp;</string>
	<key>emoji_027.png</key>
	<string>/1&lt;&amp;</string>
	<key>emoji_yuan_027.png</key>
	<string>/2&lt;&amp;</string>
	<key>emoji_bian_027.png</key>
	<string>/3&lt;&amp;</string>
	<key>emoji_fang_028.png</key>
	<string>/&lt;B</string>
	<key>emoji_028.png</key>
	<string>/1&lt;B</string>
	<key>emoji_yuan_028.png</key>
	<string>/2&lt;B</string>
	<key>emoji_bian_028.png</key>
	<string>/3&lt;B</string>
	<key>emoji_fang_029.png</key>
	<string>/&lt;F</string>
	<key>emoji_029.png</key>
	<string>/1&lt;F</string>
	<key>emoji_yuan_029.png</key>
	<string>/2&lt;F</string>
	<key>emoji_bian_029.png</key>
	<string>/3&lt;F</string>
	<key>emoji_fang_030.png</key>
	<string>/&lt;U</string>
	<key>emoji_030.png</key>
	<string>/1&lt;U</string>
	<key>emoji_yuan_030.png</key>
	<string>/2&lt;U</string>
	<key>emoji_bian_030.png</key>
	<string>/3&lt;U</string>
	<key>emoji_fang_031.png</key>
	<string>/&lt;V</string>
	<key>emoji_031.png</key>
	<string>/1&lt;V</string>
	<key>emoji_yuan_031.png</key>
	<string>/2&lt;V</string>
	<key>emoji_bian_031.png</key>
	<string>/3&lt;V</string>
	<key>emoji_fang_032.png</key>
	<string>/&lt;W</string>
	<key>emoji_032.png</key>
	<string>/1&lt;W</string>
	<key>emoji_yuan_032.png</key>
	<string>/2&lt;W</string>
	<key>emoji_bian_032.png</key>
	<string>/3&lt;W</string>
	<key>emoji_fang_033.png</key>
	<string>/&lt;Y1</string>
	<key>emoji_033.png</key>
	<string>/1&lt;Y1</string>
	<key>emoji_yuan_033.png</key>
	<string>/2&lt;Y1</string>
	<key>emoji_bian_033.png</key>
	<string>/3&lt;Y1</string>
	<key>emoji_fang_034.png</key>
	<string>/&lt;Y2</string>
	<key>emoji_034.png</key>
	<string>/1&lt;Y2</string>
	<key>emoji_yuan_034.png</key>
	<string>/2&lt;Y2</string>
	<key>emoji_bian_034.png</key>
	<string>/3&lt;Y2</string>
	<key>emoji_fang_035.png</key>
	<string>/&lt;%</string>
	<key>emoji_035.png</key>
	<string>/1&lt;%</string>
	<key>emoji_yuan_035.png</key>
	<string>/2&lt;%</string>
	<key>emoji_bian_035.png</key>
	<string>/3&lt;%</string>
	<key>emoji_fang_036.png</key>
	<string>/&lt;@@</string>
	<key>emoji_036.png</key>
	<string>/1&lt;@@</string>
	<key>emoji_yuan_036.png</key>
	<string>/2&lt;@@</string>
	<key>emoji_bian_036.png</key>
	<string>/3&lt;@@</string>
	<key>emoji_fang_037.png</key>
	<string>/&lt;X</string>
	<key>emoji_037.png</key>
	<string>/1&lt;X</string>
	<key>emoji_yuan_037.png</key>
	<string>/2&lt;X</string>
	<key>emoji_bian_037.png</key>
	<string>/3&lt;X</string>
	<key>emoji_fang_038.png</key>
	<string>/&lt;I</string>
	<key>emoji_038.png</key>
	<string>/1&lt;I</string>
	<key>emoji_yuan_038.png</key>
	<string>/2&lt;I</string>
	<key>emoji_bian_038.png</key>
	<string>/3&lt;I</string>
	<key>emoji_fang_039.png</key>
	<string>/&lt;G</string>
	<key>emoji_039.png</key>
	<string>/1&lt;G</string>
	<key>emoji_yuan_039.png</key>
	<string>/2&lt;G</string>
	<key>emoji_bian_039.png</key>
	<string>/3&lt;G</string>
	<key>emoji_fang_040.png</key>
	<string>/&lt;!!</string>
	<key>emoji_040.png</key>
	<string>/1&lt;!!</string>
	<key>emoji_yuan_040.png</key>
	<string>/2&lt;!!</string>
	<key>emoji_bian_040.png</key>
	<string>/3&lt;!!</string>
	<key>emoji_fang_041.png</key>
	<string>/&lt;~</string>
	<key>emoji_041.png</key>
	<string>/1&lt;~</string>
	<key>emoji_yuan_041.png</key>
	<string>/2&lt;~</string>
	<key>emoji_bian_041.png</key>
	<string>/3&lt;~</string>
	<key>emoji_fang_042.png</key>
	<string>/&lt;C</string>
	<key>emoji_042.png</key>
	<string>/1&lt;C</string>
	<key>emoji_yuan_042.png</key>
	<string>/2&lt;C</string>
	<key>emoji_bian_042.png</key>
	<string>/3&lt;C</string>
	<key>emoji_fang_043.png</key>
	<string>/&lt;Z</string>
	<key>emoji_043.png</key>
	<string>/1&lt;Z</string>
	<key>emoji_yuan_043.png</key>
	<string>/2&lt;Z</string>
	<key>emoji_bian_043.png</key>
	<string>/3&lt;Z</string>
	<key>emoji_fang_044.png</key>
	<string>/&lt;*</string>
	<key>emoji_044.png</key>
	<string>/1&lt;*</string>
	<key>emoji_yuan_044.png</key>
	<string>/2&lt;*</string>
	<key>emoji_bian_044.png</key>
	<string>/3&lt;*</string>
	<key>emoji_fang_045.png</key>
	<string>/&lt;)</string>
	<key>emoji_045.png</key>
	<string>/1&lt;)</string>
	<key>emoji_yuan_045.png</key>
	<string>/2&lt;)</string>
	<key>emoji_bian_045.png</key>
	<string>/3&lt;)</string>
	<key>emoji_fang_046.png</key>
	<string>/&lt;PK</string>
	<key>emoji_046.png</key>
	<string>/1&lt;PK</string>
	<key>emoji_yuan_046.png</key>
	<string>/2&lt;PK</string>
	<key>emoji_bian_046.png</key>
	<string>/3&lt;PK</string>
	<key>emoji_fang_047.png</key>
	<string>/&lt;NO</string>
	<key>emoji_047.png</key>
	<string>/1&lt;NO</string>
	<key>emoji_yuan_047.png</key>
	<string>/2&lt;NO</string>
	<key>emoji_bian_047.png</key>
	<string>/3&lt;NO</string>
	<key>emoji_fang_048.png</key>
	<string>/&lt;00</string>
	<key>emoji_048.png</key>
	<string>/1&lt;00</string>
	<key>emoji_yuan_048.png</key>
	<string>/2&lt;00</string>
	<key>emoji_bian_048.png</key>
	<string>/3&lt;00</string>
	<key>emoji_fang_049.png</key>
	<string>/&lt;11</string>
	<key>emoji_049.png</key>
	<string>/1&lt;11</string>
	<key>emoji_yuan_049.png</key>
	<string>/2&lt;11</string>
	<key>emoji_bian_049.png</key>
	<string>/3&lt;11</string>
	<key>emoji_fang_050.png</key>
	<string>/&lt;12</string>
	<key>emoji_050.png</key>
	<string>/1&lt;12</string>
	<key>emoji_yuan_050.png</key>
	<string>/2&lt;12</string>
	<key>emoji_bian_050.png</key>
	<string>/3&lt;12</string>
	<key>emoji_fang_051.png</key>
	<string>/&lt;22</string>
	<key>emoji_051.png</key>
	<string>/1&lt;22</string>
	<key>emoji_yuan_051.png</key>
	<string>/2&lt;22</string>
	<key>emoji_bian_051.png</key>
	<string>/3&lt;22</string>
	<key>emoji_fang_052.png</key>
	<string>/&lt;33</string>
	<key>emoji_052.png</key>
	<string>/1&lt;33</string>
	<key>emoji_yuan_052.png</key>
	<string>/2&lt;33</string>
	<key>emoji_bian_052.png</key>
	<string>/3&lt;33</string>
	<key>emoji_fang_053.png</key>
	<string>/&lt;44</string>
	<key>emoji_053.png</key>
	<string>/1&lt;44</string>
	<key>emoji_yuan_053.png</key>
	<string>/2&lt;44</string>
	<key>emoji_bian_053.png</key>
	<string>/3&lt;44</string>
	<key>emoji_fang_054.png</key>
	<string>/&lt;55</string>
	<key>emoji_054.png</key>
	<string>/1&lt;55</string>
	<key>emoji_yuan_054.png</key>
	<string>/2&lt;55</string>
	<key>emoji_bian_054.png</key>
	<string>/3&lt;55</string>
	<key>emoji_fang_055.png</key>
	<string>/&lt;66</string>
	<key>emoji_055.png</key>
	<string>/1&lt;66</string>
	<key>emoji_yuan_055.png</key>
	<string>/2&lt;66</string>
	<key>emoji_bian_055.png</key>
	<string>/3&lt;66</string>
	<key>emoji_fang_056.png</key>
	<string>/&lt;77</string>
	<key>emoji_056.png</key>
	<string>/1&lt;77</string>
	<key>emoji_yuan_056.png</key>
	<string>/2&lt;77</string>
	<key>emoji_bian_056.png</key>
	<string>/3&lt;77</string>
	<key>emoji_fang_057.png</key>
	<string>/&lt;88</string>
	<key>emoji_057.png</key>
	<string>/1&lt;88</string>
	<key>emoji_yuan_057.png</key>
	<string>/2&lt;88</string>
	<key>emoji_bian_057.png</key>
	<string>/3&lt;88</string>
	<key>emoji_fang_058.png</key>
	<string>/&lt;99</string>
	<key>emoji_058.png</key>
	<string>/1&lt;99</string>
	<key>emoji_yuan_058.png</key>
	<string>/2&lt;99</string>
	<key>emoji_bian_058.png</key>
	<string>/3&lt;99</string>
	<key>emoji_fang_059.png</key>
	<string>/&lt;01</string>
	<key>emoji_059.png</key>
	<string>/1&lt;01</string>
	<key>emoji_yuan_059.png</key>
	<string>/2&lt;01</string>
	<key>emoji_bian_059.png</key>
	<string>/3&lt;01</string>
</dict>
</plist>
